{{!-- <nav id="navbar">
    <div class="nav-item">
       <a href="/">Weather</a>
    </div>
    <div class="nav-item">
        <a href="/help">Help</a>
    </div>
    <div class="nav-item">
        <a href="/about">About</a>
    </div>
</nav> --}}
<header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>
</header>

